
:root {
--bgWhite:#FFFFFF;
  --btn: #0B253D;
  --white: #ffffff;
}
.bgMain{
    height: 100vh;
    background: rgb(33,62,211);
    background: linear-gradient(45deg, rgba(33,62,211,1) 38%, rgba(41,183,244,1) 100%);
}
.spenar{
  height: 100vh;
  text-align: center;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #246fe0
}

.mainContenar{
    background:  var(--bgWhite) ;
      border-radius: 999em  999em 40px  40px ;
}
.btn_submit{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: var(--btn);
    border: 0px none solid;
}
input:focus {
    outline: 0px solid transparent;
}
.boxInputShado{
    box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
}
.input_login{
    background: #F0F0F0 ;
}
.input_bordre{
    border-right: solid var(--btn) 1px;
}
